@import 'assets';

.contact-page {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 25px 0 50px 0;
    width: 100%;
    height: auto;
    background: $g3;
}

.contact-header {
    font-family: $serif;
    font-size: 35px;
    color: $dark-grey;
    text-align: center;
}

.contact-par {
    font-family: $sans;
    font-size: 25px;
    color: $light-grey;
    width: 90%;
    max-width: 1000px;
}

.contact-form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-row {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0;
    width: 90%;
    max-width: 600px;
}

.contact-label {
    font-family: $sans;
    font-size: 20px;
    color: $dark-grey;
}

.input {
    font-family: $sans;
    font-size: 20px;
    color: $light-grey;
    width: 100%;
    border: none;
    padding: 5px 10px;
    background: $g;
}
.form-button {
    color: $white;
    background: $dark-grey;
    border: none;
    font-family: $sans;
    font-size: 20px;
    height: auto;
    width: auto;
    padding: 8px 25px;
    margin-top: 25px;
    i {
        padding-right: 10px;
    }
}
.form-button:hover {
    transform: scale(1.03)
}

@media only screen and (max-width: 900px) {
    .contact-header {
        font-size: 32px;
    }
    .contact-par {
        font-size: 22px;
    }
    .contact-label {
        font-size: 19px;
    }
}

@media only screen and (max-width: 700px) {
    .contact-header {
        font-size: 30px;
    }
    .contact-par {
        font-size: 20px;
    }
    .contact-label {
        font-size: 18px;
    }
    .input {
        font-size: 18px;
        width: 90%;
    }
    .form-button {
        padding: 7px 20px;
    }
}

@media only screen and (max-width: 500px) {
    .contact-header {
        font-size: 28px;
    }
    .contact-par {
        font-size: 19px;
    }
    .input {
        font-size: 17px;
    }
    .form-button {
        font-size: 18px;
        padding: 6px 16px;
    }
}
@media only screen and (max-width: 400px) {
    .contact-header {
        font-size: 26px;
    }
    .contact-par {
        font-size: 18px;
    }
    .contact-label {
        font-size: 17px;
    }
    .input {
        font-size: 16px;
    }
    .form-button {
        font-size: 17px;
        padding: 5px 12px;
    }
}