@font-face {
  font-family: "spectral";
  font-style: normal;
  src: url("https://fonts.googleapis.com/css?family=Spectral:400,500,600&display=swap");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src: url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  src: url("https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap");
  font-display: swap;
}
.navbar {
  width: calc(100% - 100px);
  height: 50px;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  justify-items: flex-end;
  align-content: center;
  align-items: center;
  padding-left: 100px;
}

.nav-header {
  font-family: "Spectral", serif;
  color: #f5f5f5;
  font-size: 30px;
  position: absolute;
  font-weight: 600;
  left: 25px;
  top: -23px;
}

.nav-link-container {
  display: flex;
  flex-flow: row;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  color: #f5f5f5;
  font-size: 20px;
  padding: 0 30px;
  text-decoration: none;
  background: inherit;
  border: none;
}
.nav-link i {
  font-size: 20px;
  color: #f5f5f5;
  background: inherit;
}

.nav-link:hover {
  transform: scale(1.02);
  color: #d9d9d9;
}

.toggle-button {
  position: relative;
  background: inherit;
  border: none;
  transition: all 0.3s;
  display: none;
}

.line {
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #f5f5f5;
}

.line1 {
  height: 2px;
  width: 100%;
  background-color: #f5f5f5;
  float: left;
  position: relative;
}

.line2 {
  height: 2px;
  width: 100%;
  background-color: #f5f5f5;
  position: relative;
  float: left;
  margin-top: 8px;
}

.line3 {
  height: 2px;
  width: 100%;
  background-color: #f5f5f5;
  position: relative;
  float: left;
  margin-top: 8px;
}

@media only screen and (max-width: 950px) {
  .nav-header {
    font-size: 25px;
    top: -15px;
  }

  .nav-link {
    font-size: 18px;
  }
  .nav-link i {
    font-size: 18px;
  }
}
@media only screen and (max-width: 875px) {
  .nav-link {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 750px) {
  .nav-header {
    font-size: 22px;
    top: -11px;
  }

  .nav-link {
    font-size: 16px;
  }
  .nav-link i {
    font-size: 16px;
  }
}
@media only screen and (max-width: 650px) {
  .toggle-button {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 25px;
    right: 25px;
    background: none;
  }

  .bar {
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #f5f5f5;
    transition: all 0.3s;
  }

  #bar1 {
    margin-top: 8px;
  }

  #bar3 {
    margin-top: -8px;
  }

  .checked #bar1 {
    transform: rotate(45deg);
    margin-top: 0;
  }
  .checked #bar2 {
    opacity: 0;
  }
  .checked #bar3 {
    transform: rotate(-45deg);
    margin-top: 0;
  }

  .nav-link-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    position: absolute;
    right: -200px;
    top: 50px;
    transition: all 0.3s ease;
  }

  .nav-toggled {
    right: 0;
    top: 50px;
    background: rgba(0, 0, 0, 0.7);
  }

  .nav-link {
    font-size: 20px;
    padding: 8px 25px;
    background: none;
  }
  .nav-link i {
    font-size: 20px;
    background: none;
  }
}

/*# sourceMappingURL=nav.css.map */
