@font-face {
  font-family: "spectral";
  font-style: normal;
  src: url("https://fonts.googleapis.com/css?family=Spectral:400,500,600&display=swap");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src: url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap");
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  src: url("https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap");
  font-display: swap;
}
#project-section {
  background: #f1f1f1;
  padding: 50px 0 0 0;
  margin: 0;
}

.projects-header {
  font-family: "Spectral", serif;
  font-size: 35px;
  font-weight: 400;
  color: #1A1A1C;
  text-align: center;
  padding-top: 25px;
}

.project-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
}

.project-holder {
  width: 45%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px auto;
  text-decoration: none;
}
.project-holder img {
  width: 90%;
  height: auto;
  display: block;
}

.about-project-holder {
  width: 90%;
}

.project-title {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #3a313a;
  padding: 0;
  margin: 15px 0 0 0;
}

.project-framework {
  font-family: "Spectral", serif;
  font-size: 23px;
  font-style: italic;
  color: #3a313a;
  margin: 0;
  padding: 0;
}

.project-description {
  font-family: "Spectral", serif;
  font-size: 20px;
  color: #5a515a;
  margin: 0;
  padding: 0;
}

.cta-button {
  font-family: "Spectral", serif;
  font-size: 20px;
  color: #001FFF;
  text-decoration: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  position: relative;
}

.cta-button:hover {
  transform: scale(1.05) translateX(15px);
}

.site-image-holder {
  position: relative;
  width: auto;
  height: auto;
}

@media only screen and (max-width: 1200px) {
  .projects-header {
    font-size: 30px;
  }

  .project-title {
    font-size: 25px;
  }

  .project-framework {
    font-size: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .project-container {
    flex-flow: column;
  }

  .project-holder {
    width: 90%;
    max-width: 600px;
  }

  .project-title {
    font-size: 23px;
  }

  .projects-header {
    font-size: 25px;
  }

  .project-framework {
    font-size: 18px;
  }

  .project-description {
    font-size: 18px;
  }

  .cta-button {
    font-size: 18px;
  }
}
@media only screen and (max-width: 600px) {
  .project-title {
    font-size: 21px;
  }

  .projects-header {
    font-size: 23px;
  }

  .project-framework {
    font-size: 17px;
  }

  .project-description {
    font-size: 17px;
  }

  .cta-button {
    font-size: 17px;
  }
}
@media only screen and (max-width: 500px) {
  .project-title {
    font-size: 20px;
  }

  .projects-header {
    font-size: 22px;
  }

  .project-framework {
    font-size: 16px;
  }

  .project-description {
    font-size: 16px;
  }

  .cta-button {
    font-size: 16px;
  }
}
@media only screen and (max-width: 400px) {
  .project-title {
    font-size: 19px;
  }

  .projects-header {
    font-size: 21px;
  }

  .project-framework {
    font-size: 15px;
  }

  .project-description {
    font-size: 15px;
  }

  .cta-button {
    font-size: 15px;
  }
}

/*# sourceMappingURL=projects.css.map */
