@import 'assets';

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: inherit;
    max-width: 100vw;
    overflow-x: hidden;
}

#app-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: inherit;
    max-width: 100vw;
    overflow-x: hidden;
}

.app-router {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}